.App {
  font-family: sans-serif;
  text-align: center;
}

.column {
  display: grid;
  overflow: clip;
  height: 100%;
}

.gridBuildRoom {
  z-index: 5;
}

.arrowButton {
  background-color: lightblue;
  border: 1px solid blue;
  width: 1.4em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  width: 25px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
