.App {
  font-family: sans-serif;
  text-align: center;
}

.column {
  display: grid;
  overflow: clip;
  height: 100%;
}

.gridBuildRoom {
  z-index: 5;
}

.arrowButton {
  background-color: lightblue;
  border: 1px solid blue;
  width: 1.4em;
}
